@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>玩家充值管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <!-- <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始时间" isTime="false" pattern="YYYY-MM-DD" />
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束时间" isTime="false" pattern="YYYY-MM-DD" />
                            </div> -->
                            <div class="col-sm-3">
                                <#NameCon id="playerId" name="游戏ID" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="OrderRecord.search()"/>
                            </div>
                        </div> 
                        <div class="hidden-xs" id="OrderRecordTableToolbar" role="group">
                            @if(shiro.hasPermission("/orderRecord/add")){
                                <#button name="添加" icon="fa-plus" clickFun="OrderRecord.openAddOrderRecord()"/>
                            @}
                            @if(shiro.hasPermission("/orderRecord/update")){
                                <#button name="修改" icon="fa-edit" clickFun="OrderRecord.openOrderRecordDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/orderRecord/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="OrderRecord.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="OrderRecordTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/recharge/orderRecord/orderRecord.js"></script>
@}
