@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="price" name="" underline="true"/>
                            <#input id="productId" name="" underline="true"/>
                            <#input id="productAmount" name="" underline="true"/>
                            <#input id="productName" name="" underline="true"/>
                            <#input id="amount" name="" underline="true"/>
                            <#input id="userId" name="" underline="true"/>
                            <#input id="myCode" name="" underline="true"/>
                            <#input id="nickname" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="gameType" name="" underline="true"/>
                            <#input id="agentId" name="" underline="true"/>
                            <#input id="agentGameId" name="" underline="true"/>
                            <#input id="from" name="" underline="true"/>
                            <#input id="status" name="" underline="true"/>
                            <#input id="remark" name="" underline="true"/>
                            <#input id="createTime" name="" underline="true"/>
                            <#input id="editTime" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderRecordInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderRecordInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/recharge/orderRecord/orderRecord_info.js"></script>
@}
